<html>
<head>
  <title>Form</title>
</head>
<body>
  <form>
    <label>First Name:</label>
    <input type="text" value="<%= data.firstName %>" readonly>

    <label>Last Name:</label>
    <input type="text" value="<%= data.lastName %>" readonly>

    <label>Email:</label>
    <input type="email" value="<%= data.email %>" readonly>
  </form>
</body>
</html>
